body{
    margin: 0px;
    background-color: rgb(169, 227, 245);
}
main{
    margin-left: 20px;
    margin-right: 20px;
}
h1{
    text-align: center;
}
.navbar ul{
    list-style: none;
    background-color: hsl(0, 0%, 6%);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color:rgb(169, 227, 245);
}
.navbar li{
    float: left;

}