.first{
    background-color: aqua;
    text-align: center;
}
.second{
    text-align: center;
}
iframe{
    text-align: center;

}
h2{
    background-color: pink;
}
ol,ul{
    background-color: aquamarine;
}
